extends layout

block footer

    footer
      .container
        .row
          .col-md-4
            span.copyright Copyright © Your Website 2016
          .col-md-4
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
          .col-md-4
            ul.list-inline.quicklinks
              li
                a(href='#') Privacy Policy
              li
                a(href='#') Terms of Use
    // Portfolio Modals
    // Use the modals below to showcase details about your portfolio projects!
    // Portfolio Modal 1
    #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                // Project Details Go Here
                h2 Project Name
                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                img.img-responsive.img-centered(src='img/portfolio/roundicons-free.png', alt='')
                p
                  | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                p
                  strong Want these icons in this portfolio item sample?
                  | You can download 60 of them for free, courtesy of 
                  a(href='https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc') RoundIcons.com
                  | , or you can purchase the 1500 icon set 
                  a(href='https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc') here
                  | .
                ul.list-inline
                  li Date: July 2014
                  li Client: Round Icons
                  li Category: Graphic Design
                button.btn.btn-primary(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close Project
    // Portfolio Modal 2
    #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                h2 Project Heading
                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                img.img-responsive.img-centered(src='img/portfolio/startup-framework-preview.png', alt='')
                p
                  a(href='http://designmodo.com/startup/?u=787') Startup Framework
                  |  is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
                p
                  | You can preview Startup Framework 
                  a(href='http://designmodo.com/startup/?u=787') here
                  | .
                button.btn.btn-primary(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close Project
    // Portfolio Modal 3
    #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                // Project Details Go Here
                h2 Project Name
                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                img.img-responsive.img-centered(src='img/portfolio/treehouse-preview.png', alt='')
                p
                  | Treehouse is a free PSD web template built by 
                  a(href='https://www.behance.net/MathavanJaya') Mathavan Jaya
                  | . This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.
                p
                  | You can download the PSD template in this portfolio sample item at 
                  a(href='http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/') FreebiesXpress.com
                  | .
                button.btn.btn-primary(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close Project
    // Portfolio Modal 4
    #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                // Project Details Go Here
                h2 Project Name
                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                img.img-responsive.img-centered(src='img/portfolio/golden-preview.png', alt='')
                p
                  | Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by 
                  a(href='https://www.behance.net/MathavanJaya') Mathavan Jaya
                  | . Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.
                p
                  | You can download the PSD template in this portfolio sample item at 
                  a(href='http://freebiesxpress.com/gallery/golden-free-one-page-web-template/') FreebiesXpress.com
                  | .
                button.btn.btn-primary(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close Project
    // Portfolio Modal 5
    #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                // Project Details Go Here
                h2 Project Name
                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                img.img-responsive.img-centered(src='img/portfolio/escape-preview.png', alt='')
                p
                  | Escape is a free PSD web template built by 
                  a(href='https://www.behance.net/MathavanJaya') Mathavan Jaya
                  | . Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.
                p
                  | You can download the PSD template in this portfolio sample item at 
                  a(href='http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/') FreebiesXpress.com
                  | .
                button.btn.btn-primary(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close Project
    // Portfolio Modal 6
    #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                // Project Details Go Here
                h2 Project Name
                p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                img.img-responsive.img-centered(src='img/portfolio/dreams-preview.png', alt='')
                p
                  | Dreams is a free PSD web template built by 
                  a(href='https://www.behance.net/MathavanJaya') Mathavan Jaya
                  | . Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.
                p
                  | You can download the PSD template in this portfolio sample item at 
                  a(href='http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/') FreebiesXpress.com
                  | .
                button.btn.btn-primary(type='button', data-dismiss='modal')
                  i.fa.fa-times
                  |  Close Project
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    script(src='jsjquery.bootstrap-autohidingnavbar.js')
    // Plugin JavaScript
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='js/classie.js')
    script(src='js/cbpAnimatedHeader.js')
    // Contact Form JavaScript
    script(src='js/jqBootstrapValidation.js')
    script(src='js/contact_me.js')
    // Custom Theme JavaScript
    script(src='js/agency.js')
    // <script src="js/main.js"></script>
