extends layout

block content

    // About Section
    section#about
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading About this app
            h3.section-subheading.text-muted This website is build with Node.js, Express.js and Jade. Very MEAN!
  