extends layout

block content
    // Team Section
    section#team.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Our Amazing Team
            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        .row
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/1.jpg', alt='')
              h4 Kay Garland
              p.text-muted Lead Designer
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/2.jpg', alt='')
              h4 Larry Parker
              p.text-muted Lead Marketer
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='img/team/3.jpg', alt='')
              h4 Diana Pertersen
              p.text-muted Lead Developer
              ul.list-inline.social-buttons
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-linkedin
        .row
          .col-lg-8.col-lg-offset-2.text-center
            p.large.text-muted
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
    include footer.jade